/*Импорт стилей по необходимости
@import url();
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Sans Display', 'Times New Roman', Times, serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container {
	border: 1px solid black;
	background-color: whitesmoke;
	padding: 5px;
	padding-left: 10px;
}

.header {
	padding: 50px;
}

.logo {
	text-transform: uppercase;
	font-size: large;
	font-weight: 800;
}

header nav {
	float: right;
	width: 75%;
}

header nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
}
header nav ul li {
	display: inline-block;
}

header nav ul a {
	color: #000;
}

header nav ul a:hover {
	border-bottom: 3px solid;
}

.tools {
	padding-top: 20px;
	padding-bottom: 20px;
	list-style: none;
	display: grid;
	gap: 25px;
}

.toolbar {
	overflow: scroll;
	width: 15vw;
	height: 85vh;
}

.search {
	width: 15%;
}

.rightbar {
	position: relative;
	float: right;
	top: -600px;
	width: 50px;
}

nav img {
	width: 50%;
}

div.search.container img {
	position: relative;
	width: 20px;
	top: 6px;
}
